@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

canvas {
  object-fit: cover;
}
